venv/
.env
be/be/__pycache__/
be/users/migrations/
be/users/migrations/0001_initial.py
be/users/__pycache__/
be/users/api/__pycache__/
be/files/
be/products/__pycache__/
be/products/migrations/
be/products/api/__pycache__/